body {
  background-color: bisque;
  font-family: Inter, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 16pt 16pt;
}

hr {
  border-style: none;
  border-top-style: solid;
  border-width: 1px;
  border-color: rgb(209, 173, 125);
  width: auto;
}

h1 {
    color: saddlebrown;
}

h3 {
    color: brown;
}

h2 {
    color: crimson;
}

button {
    border: none;
    border-radius: 16pt;
    padding: 8pt 12pt;
    background-color: white;
    box-shadow: 0pt 2pt 4pt rgba(0, 0, 0, 0.2);

    transition-duration: 300ms;
}

.button-med {
    font-size: auto;
    border-radius: 240pt;
}

.button-small {
    font-size: 8pt;
    border-radius: 240pt;
}

.button-medlarge {
    font-size: 16pt;
    border-radius: 240pt;
}

.button-large {
    font-size: 24pt;
    border-radius: 240pt;
}

.button:hover {
    background-color: tomato;
    
    color: white;
}

img {
    box-shadow: 0pt 2pt 8pt rgba(0, 0, 0, 0.2);
}

table {
    padding: 8pt;
    margin: 16pt auto;
    background-color: white;
    border-radius: 16pt;
    box-shadow: 0pt 2pt 8pt rgba(0, 0, 0, 0.2);
}

td {
    padding: 8pt;
}